{# DEBUG #}
{{ dump(_context|keys) }}

<pre>
{{ dump(_context|keys) }}
</pre>

<hr>
<ol>
{% for key, value in _context  %}
<li>{{ key }} </li>
 {% if loop.index == 11 %}}
    <pre>{{ dump( value ) }}</pre>
{% endif %}
{% endfor %}
</ol>

